$clr-link: #999;
$clr-link-hover: #3f3f3f;

$body-clr: #333;
$body-bg-clr: #EFEEEB;


body {
    width: 100%;
    position: absolute;
    min-height: 100%;
    color: $body-clr;
    background-color: $body-bg-clr;
}
nav {
  position: fixed;
  top: 0px;
  background: #fff;
  width: 100%;
  left: 0px;
  box-sizing: border-box;
  padding: 0 15%;
  border-bottom: 1px solid #d5d5d5;
  z-index: 100;
}

nav ul,
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
    a:hover {
        text-decoration: none;
        color: $clr-link-hover;
    }
}
a {
    text-decoration: none;
    color: $clr-link;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.container {
    width: 70%;
    margin: 65px auto;
    position: relative;
}

footer {
    box-sizing: border-box;
    padding: 0 15%;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: absolute;
    bottom: 0px;
    background: #fff;
    width: 100%;
    left: 0px;
}

.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    li {
        list-style: none;
    }
}



.linkedin a:before{
    content: "\f0e1";
}

.github a:before{
    content: "\f09b";
}

.email a:before{
    content: "\f003";
}

.email a:before,
.github a:before,
.linkedin a:before {
    font-family: FontAwesome;
    font-size: 18px;
    padding-right: 8px;
}
