<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/module.css">
            <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.linkedin.com/in/pmarciniak/">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:mrnz@wp.pl">email</a></li>
	        		<li><a href="https://github.com/mrnz">github.com/mrnz</a></li>
				</ul>
			</footer>
		</body>
	</html>
